version: "3"

services:

  proxy:
    image: "traefik:v2.0"
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  unicorn:
    image: "containous/whoami"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unicorn.rule=Host(`unicorn.localhost`)"
      - "traefik.http.routers.unicorn.entrypoints=web"
